{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я автор</h1>
    <h5>Меня зовут Алексей, мне 40 лет.</h5><br>
    <a href="https://github.com/azhuravlev1001/backend_test_homework.git">Это моя ссылка на GitHub</a><br>
    <a href="{% url 'posts:profile' user %}"><B><span style="color:green">А это ссылка на мои посты!</span></B></a><br>
    <hr align="center" size="1" width="100%" color="#3399ff">
    <p><B>Я окончил Горный институт</B> и первые 11 лет занимался подземным строительством. Жил яркой насыщенной жизнью: мы строили тоннели, сотрудничали с иностранными партнерами, ездили к ним в гости. Работа была нелегкая, туда, как правило, естественным образом приходили люди, с которыми было интересно: нестандартные, понимающие что им надо от жизни, смелые и уверенные в себе.</p>
    Потом наш строительный холдинг стал сокращать объемы и постепенно пришел к банкротству. В то время я перешел директором в отраслевой НИИ, а последние 5 лет занимаюсь тем, что улучшаю Газпром.</p>
    <hr align="center" size="1" width="100%" color="#3399ff">
    <h5>Программирование вызывает у меня совершенно определенный интерес. </h5>
    <p>Во-первых, я знаю, что <B>мне по силам быть разработчиком</B>: какие-то основы знал еще со школы (тогда у нас был Borland Pascal), затем пробовал программировать на С++, делая приложения, облегчающие мне работу в тоннелях: тестирование датчиков, визуализацию навигационных систем, расчеты по результатам измерений...</p>
    <p>Во-вторых, большим плюсом вижу то, что здесь я должен <B>надеяться только на себя</B>. Насколько буду хорош, как разработчик, настолько буду цениться на рынке. Это справедливо. В работе в корпорациях на такое редко приходится рассчитывать. В большей части там превалируют интриги, ревность к чужим результатам, обесценивание сделанной работы, попытки манипулировать руководством. От всего этого хотелось бы уже избавиться, ну или существенно уменьшить, придя в программирование.</p>
    <p>И наконец, в-третьих, хочется сменить климат Петербурга на некую <B>более дружелюбную и комфортную среду обитания</B>. И удаленная работа будет только способствовать этому, а также многому-многому другому, о чем можно написать отдельный текст, если в том будет необходимость...</p>
{% endblock %} 