{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2.2.19
      </li>
    </ul>
  </aside>
  {% load static %}
  <article class="col-12 col-md-9">
    <img src="{% static 'img/table.jpg' %}" align="left" hspace="50px" vspace="50px" width="300px">
    <p><B>Для создания этой страницы</B> я использовал Django 2.2.19, Python 3.7 и, на мой взгляд, уже какой-то безмерный объем информации, полученной на этом чрезвычайно интенсивном курсе!</p>
    <p>Был забавный момент, когда, спустя месяц после начала, я решил купить книгу по инструментам Django и Python. Когда купил, понял, что нет смысла ее читать, потому что в ней не было того, что я бы не знал!</p>
    <p>Спринт за спринтом голова наполняется информацией, пальцы запоминают новые сочетания букв и команды пишутся все быстрее и непринужденнее. Самое необычное - это понимать, что ведь пока что только начало - а ты уже другой человек в сравнении с тем, каким был 2 месяцами ранее. Что же будет весной и как дотянуть до нее, не позволяя себе расслабиться и взять заманчивую паузу на отдых...</p>
    <p>В общем, пока я прохожу медленнее, чем требуется. Делаю задания днем, в офисе, вечером и ночью, на выходных, в командировках и в отпуске. Ничего особенного, только уйма и уйма времени, энергии и сил.</p>
    <p>И я рад, что все именно так. <B>Большой результат не может быть легким!</B></p>
  </article>
</div>
{% endblock %} 
