{% extends 'base.html' %}
{% block title %}Посты авторов, на которых я подписан{% endblock %}
{% block content %}
<div class="container py-5">
<h1>Посты авторов, на которых я подписан</h1>
{% include 'posts/includes/switcher.html' %}
    {% for post in page_obj %}
            <article>
            <ul>
                <li>
                Автор: {{ post.author.get_full_name }}
                <a href="{% url 'posts:profile' post.author %}">
                    все посты пользователя
                </a>
                </li>
                <li>
                {% include 'posts/includes/postcard.html' %}
            </article>
            {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
{% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
